html,body{height: 100%;}

body{
	max-width: 1000px;
	background: #E6E6E6;
	text-align: center;
	margin:0 auto -95px auto;
}


#bannerlati{

	margin-top:-120px;
	Width: 120px;
	Height: 550px;
	Padding-left: 8px;
	float:left;
}

#bannerlatd{
	margin-top:-120px;
	Width: 120px;
	Height: 550px;
	float:right;
	padding-right: 15px;
}

#bannersup{
	Width: 500px;
	Height: 120px;
	Padding-left: 128px;
	Padding-right: 10px;
}

#nombre_periodico{
	margin-right: 110px;
}

#nombre_tienda H3
{
	font: normal 275%  Arial;
	font-family: "Fascinate";
	letter-spacing: -2px;
	text-align: center;
	color: #FF4000;
}

#centrar{
	padding-left:130px;
}

#menubar{
	float: left;
	width: 700px;
	height: 65px;
	margin-left: 20px;
	background: #FF4000;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border: 10px 10px 10px 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
}

ul#menu{
	margin:0;
}

ul#menu li{
	padding: 0 0 0 0px;
	list-style: none;
	margin: 2px 0 0 0;
	display: inline;
	background: transparent;
}

ul#menu li a{
	float: left;
	font-family: "Fascinate";
	margin: 8px 0 0 3px;
	text-shadow: 0px -1px 0px #000;
	padding: 13px 13px 13px 13px;
	background: transparent;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border: 7px 7px 7px 7px;
	text-align: center;
	color: #FFF;
	text-decoration: none;
}

ul#menu li:hover a{
	background: #000000;
	background: -moz-linear-gradient(#FF4000, #FFFFFF);
	background: -o-linear-gradient(#FF4000, #FFFFFF);
	background: -webkit-linear-gradient(#FF4000, #FFFFFF);
}

#col1 #col2 h2{
	text-align:center;
  color:#000000
	font-style:italic;
	float: left;
}

h2{
	text-align:center;
	font-style:italic;
}


#col1{
	float: left;
	width: 233px;
	background: #FFFFFF;
	margin-left: 20px;
	height:auto;
}

#col2{
	float: left;
	width: 233px;
	background: #FFFFFF;
	height:auto;
}

#col3{
	float: left;
	width: 233px;
	background: #FFFFFF;
	height:auto;
}

.nombre_seccion{
	float: left;
	width: 700px; 
	height: 65px;
	margin-left: 30px;
}

.nombre_seccion h4{
	font: normal 175%  Arial;
	font-family: "Fascinate";
	letter-spacing: -2px;
	margin-top: 10px;
	color: #FFF;
 }

.producto_index{
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

.producto_destacado{
<<<<<<< HEAD
	border-style:solid;
	border-width:1px;
	border-color:#000000
=======
	border-style:dashed;
	border-width:3px;
	border-color:#FF0000;
>>>>>>> a788188b450b5dee4c222853121aa87da0995c9e
	float: center;
	height: 425px;
	margin-left: 148px;
	margin-top:160px;
	margin-right:150px;
<<<<<<< HEAD
=======
	background:#FFFFFF;
>>>>>>> a788188b450b5dee4c222853121aa87da0995c9e
}

.pie2{
	float: left;
	width: 707px;
	height: 65px;
	margin-left: 145px;
	background: #FF4000;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border: 10px 10px 10px 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
}


.pie2 p{
	float:right;
	color:#FFFFFF;
	font-family: "Fascinate";
	margin-right: 15px;
	margin-top:20px;
}

.pie2 h4{
	float:left;
	color:#FFFFFF;
	font-family: "Fascinate";
	margin-left: 15px;
	margin-top:20px;
}

.global1{
	float: left;
	margin-left: 30px;
	width: 498px;
	height: auto;
}

.global2{
	float: left;
	width: 202px; 
	height: auto;
}

.producto_descripcion{
	float: left;
	width: 498px;
	background: #FFFFFF;
	height: auto;
	
}

.producto_interes{
	height: auto;
	width: 202px;
	float:left;
	background: #F0F0F0;
}

.producto_interes h3{color: black;}

.producto_interes h4{
	font-family: "Fascinate";
	letter-spacing: 1px;
}

.opiniones{
	width:498px;
	float:left;
	height: 300px;
	background: #00BFFF;
}

.formulario legend{
	color:#FFFFFF;
	font-family: "Fascinate";
}